<div class="row">
  <div class="block" style="display: block">
    <canvas baseChart
      [datasets]="chartData"
      [labels]="chartLabels"
      [options]="chartOptions"
      [legend]="chartLegend"
      [chartType]="chartType">
    </canvas>
  </div>
  <div class="block" style="display: block">
    <canvas baseChart
      [datasets]="chartData2"
      [labels]="chartLabels2"
      [options]="chartOptions"
      [legend]="chartLegend2"
      [chartType]="chartType2">
    </canvas>
  </div>
</div>
