<div class="row">
  <div class="block" style="display: block">
    <mat-card-title>Google trends data chart</mat-card-title>
    <canvas baseChart
      [datasets]="trendsChartData"
      [labels]="chartLabels"
      [options]="chartOptions"
      [legend]="chartLegend"
      [chartType]="chartType">
    </canvas>
  </div>
  <div class="block" style="display: block">
    <mat-card-title>Yahoo finance data chart</mat-card-title>
    <canvas baseChart
      [datasets]="financeChartData"
      [labels]="chartLabels2"
      [options]="chartOptions"
      [legend]="chartLegend2"
      [chartType]="chartType2">
    </canvas>
  </div>
</div>
