.width-table {
  width: 40%;
}
.mat-elevation-z8 {
  width: 25%;
}

.mat-row {
  height: auto;
  width: auto;
}

.mat-header-row {
  height: auto;
  width: auto;
}

.mat-cell {
  padding: 4px 4px 4px 4px;
}
