<br>
<mat-accordion multi="true" *ngIf="posts.data.length > 0">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{ post.date }}
    </mat-expansion-panel-header>
    <p>symbol: {{ post.symbol }}</p>
    <p>open: {{ post.open }}</p>
    <p>high: {{ post.high }}</p>
    <p>low: {{ post.low }}</p>
    <p>close: {{ post.close }}</p>
    <!--mat-action-row>
      <button mat-button color="primary">EDIT</button>
      <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</!--button>
    </mat-action-row-->
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="posts.data.length == 0">No post added yet</p>
<br>
